* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Afacad Flux', 'Courier New', Courier, monospace;
}

html {
    scroll-behavior: smooth;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #3D402F;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    justify-content: space-between;
    width: 100%;
    max-width: 600px; /* Optional: Set a max width to prevent the buttons from stretching too far */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #fff;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #666;
}

a {
    text-decoration: none;
    cursor: pointer
}

main {
    flex: 1;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D4C9B4;
    min-height: 100vh;
    height: max-content;
}

@media (max-width: 768px) {
    .content-box {
        flex-direction: column;
        align-items: center;
    }
}

.content-box {
    display: flex;
    width: 100%; /* Width of the inner box, adjust as needed */
    max-width: 2000px; /* Set a max-width for larger screens */
    background-color: #fff; /* Background color for contrast */
    padding: 20px;
    border-radius: 4px; /* Rounded corners */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    border: 2px solid #3D402F; /* Optional border */
    flex-wrap: wrap;
}


